<div class="card">
    <div class="card-body">
        <h1>MangAnime</h1>
        <p>Este es un chat para comentar noticias, publicaciones, estrenos y todo el tema de
        que recorre el manga y el anime.</p>
        <p>Por favor sean respetuosos con el resto de participantes, en caso contrario se censuraran
            los mensajes enviados.</p>
    </div>
</div>