<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="/css/main.css">

<div align="center"><img src="img/MangAnime.png"></div>
<h1 style="text-align:center" class="animate__animated animate__flip fuente">BIENVENID@ A TU CHAT OTAKU</h1>
