<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="/css/bienvenida.css">
<link rel="stylesheet" href="/css/card.css">

<h1 style="text-align: center" class="animate__animated animate__flip fuente">Bienvenid@ {{nick}} !!</h1>


<br/>
<center><p><h2>Elige uno de nuestros servidores</h2></p></center>
<br/>

<div class="containerCard">

        <div class="card">
        <img src="/img/general.jpg" class="card-img-top" alt="general" height="150">
        <div class="card-body">
            <h5 class="card-title">General</h5>
            <p class="card-text">Si eres un otaku entra en la sala para hablar de todo el manga y anime en general</p>
            <a href="/chat/general" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        <div class="card">
        <img src="/img/doctor.jpg" class="card-img-top" alt="doctor" height="150">
        <div class="card-body">
            <h5 class="card-title">Doctor Stone</h5>
            <p class="card-text">Si eres fanatico de la ciencia no te puedes perder el anime sobre este cientifico</p>
            <a href="/chat/doctor" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        <div class="card" >
        <img src="/img/kimetsu.jpg" class="card-img-top" alt="kimetsu" height="150">
        <div class="card-body">
            <h5 class="card-title">Kimetsu no yaiba</h5>
            <p class="card-text">No te pierdas el poder compartir tus ideas sobre estos demonios de la noche </p>
            <a href="/chat/kimetsu" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        <div class="card">
        <img src="/img/naruto.jpg" class="card-img-top" alt="naruto" height="150">
        <div class="card-body">
            <h5 class="card-title">Naruto</h5>
            <p class="card-text">Si te apasiona el mundo de los ninjas, este es el lugar para hablar del gran clasico </p>
            <a href="/chat/naruto" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        
    

    
        <div class="card">
        <img src="/img/piece.jpg" class="card-img-top" alt="piece" height="150">
        <div class="card-body">
            <h5 class="card-title">One Piece</h5>
            <p class="card-text">¿Quien no conoce a este pirata? entra y disfruta con todos sus seguidores </p>
            <a href="/chat/piece" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        <div class="card">
        <img src="/img/sao.jpg" class="card-img-top" alt="sao" height="150">
        <div class="card-body">
            <h5 class="card-title">Sword art online</h5>
            <p class="card-text">Sumergete en un mundo virtual donde solo puedes vivir blandiendo la espada </p>
            <a href="/chat/sao" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        <div class="card">
        <img src="/img/tokyo.jpg" class="card-img-top" alt="sao" height="150">
        <div class="card-body">
            <h5 class="card-title">Tokyo ghoul</h5>
            <p class="card-text">¿Monstruos o semi-humanos? disfruta de las conversaciones de lo que podría ser un ghoul </p>
            <a href="/chat/tokyo" class="btn btn-primary">Chatear</a>
        </div>
        </div>

        <div class="card">
        <img src="/img/yakusoku.jpg" class="card-img-top" alt="sao" height="150">
        <div class="card-body">
            <h5 class="card-title">Yakusoku no neverland</h5>
            <p class="card-text">chatea sobre el terror psicologico que produce este anime de niños </p>
            <a href="/chat/yakusoku" class="btn btn-primary">Chatear</a>
        </div>
        </div>


    

</div>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/main.js" charset="utf-8"></script>