<div class="row">
    <div class="container">
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                <center><h4>CONVERSACIONES</h4></center> 
                </div>
                
                <div id ="chat-naruto" class="card-body"></div>
                <form id="message-form-naruto" class="card-footer">
                    <div class="input-group">
                        <input type="text" id="message-naruto" class="form-control">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    <class class="container" id="contenWrap">
        <div class="col-md-6  mt-4">
        <div class="card col-md-8">
            <div class="card-header">
                <center><h4>USUARIOS</h4></center>
            </div> 
            <div class="card-body">
                <div id="usuarios"></div>
            </div>
        </div>
    </div> 
    </class>
   
     
</div>


<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/main.js" charset="utf-8"></script>
